<!DOCTYPE html>
<html lang="en" ng-app="sampleApp">
<head>
<script src= "../angular.min.js"></script>
    <script src="app.js"></script>
</head>
<body>
<div ng-controller="myCtrl">
    <p ng-hide="true">Hello World</p>
    <span ng-init="foo='peter'">Hi</span>
    <p>Name : <input type="text" ng-model="foo" placeholder="Enter name here"></p>
    <button ng-click="foo='james'">Change</button>

    <h1>Hello {{foo}}</h1>

    <img src="../car1.jpg" ng-init="foobar=true" ng-show="foobar">
    <button  ng-click="foobar=true">Show</button>
    <button  ng-click="foobar=false">Hide</button>
    <br><br>
    <img src="../car3.jpg" ng-init="img1=true" ng-show="img1">
    <input type="checkbox" ng-model="img1"/>Show Image
    <br><br>
    <input type="checkbox" ng-model="checked">I agree to terms<br/>
    <button ng-disabled="!checked">Submit</button>
</div>

</div>
</body>
</html>